STASH_API_TOKEN="abcdefghijklmnopqrstuvwxyz1234567890"
STASH_247_DATASTORE_ID="abcdefghijklmnop1234567890"
STASH_247_DATASTORE_TAG="reruns"

STASH_247_OBS_WEBSOCKET_URL="ws://127.0.0.1:4455"
STASH_247_OBS_WEBSOCKET_PASSWORD="changeme"
STASH_247_OBS_INPUT_UUID="50ba59a2-1234-1234-1234-084b58d5e662"